<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/intro.css" />
        <link rel="stylesheet" href="/static/css/login.css" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <title>Stony AI</title>
    </head>
    <body>
        <div id="root">
            <a id="page-1" aria-hidden="true"> </a>
            <section
                id="rd"
                style="
                    position: relative;
                    overflow: hidden;
                    display: grid;
                    align-items: center;
                    grid-template-columns: auto 100rem auto;
                    z-index: 0;
                "
            >
                <div
                    id="nj"
                    style="
                        grid-area: 1 / 1 / 2 / 4;
                        display: grid;
                        position: absolute;
                        min-height: 100%;
                        min-width: 100%;
                    "
                >
                    <div id="hj" style="z-index: 0">
                        <div
                            id="ky"
                            style="
                                box-sizing: border-box;
                                width: 100%;
                                height: 100%;
                                transform: rotate(0deg);
                            "
                        >
                            <div
                                id="te"
                                style="width: 100%; height: 100%; opacity: 1"
                            >
                                <div
                                    id="fx"
                                    class="video_containe"
                                    style="
                                        background-color: #ffffff;
                                        opacity: 1;
                                        transform: scale(1, 1);
                                        width: 100%;
                                        height: 100%;
                                        overflow: hidden;
                                        position: relative;
                                    "
                                >
                                    <div
                                        id="qh"
                                        style="
                                            width: calc(
                                                100% *
                                                    max(1, var(--scale-fill, 1))
                                            );
                                            height: calc(
                                                101.3828125% /
                                                    min(1, var(--scale-fill, 1))
                                            );
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            opacity: 1;
                                        "
                                    >
                                        <canvas
                                            width="1263"
                                            height="720"
                                            style="
                                                position: absolute;
                                                top: 0px;
                                                left: 0px;
                                                transform: matrix(
                                                    1,
                                                    0,
                                                    0,
                                                    1,
                                                    -631.667,
                                                    -359.969
                                                );
                                            "
                                        >
                                            <video
                                                src="videos/fc1dbcbdd3d4d020fa2b9c9fed709b11.mp4"
                                                playsinline=""
                                                preload="auto"
                                                muted=""
                                                loop=""
                                                data-filter="6464649a64006432640000646400"
                                                crossorigin="anonymous"
                                                style="
                                                    width: 100%;
                                                    height: 100%;
                                                    display: block;
                                                    object-fit: cover;
                                                    object-position: 50% 50%;
                                                    transform: translate(
                                                            -50%,
                                                            -50%
                                                        )
                                                        rotate(0deg);
                                                    opacity: 0;
                                                "
                                            ></video>
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        id="GCnMqbGCHEUvVfwP"
                        style="
                            display: grid;
                            position: relative;
                            grid-area: 1 / 2 / 2 / 3;
                        "
                    >
                        <div id="ZIIVWS9K9p3a2KTk">
                            <div
                                id="dHqWv0JBPfldYEHY"
                                style="display: grid; position: relative"
                            >
                                <div
                                    id="BP73bKz98Pnj0VTL"
                                    style="display: grid; position: relative"
                                >
                                    <div
                                        id="VgXXutmSL3VFwGp3"
                                        style="z-index: 5"
                                    >
                                        <div
                                            id="LbJmP6fOyCor5Iud"
                                            style="padding-top: 100%"
                                        >
                                            <div
                                                id="gHOeZekeJD3Ndx8c"
                                                style="
                                                    position: absolute;
                                                    top: 0px;
                                                    left: 0px;
                                                    width: 100%;
                                                    height: 100%;
                                                "
                                            >
                                                <div
                                                    class="animation_container"
                                                    style="
                                                        width: 100%;
                                                        height: 100%;
                                                    "
                                                >
                                                    <div
                                                        class="animated"
                                                        style="
                                                            width: 100%;
                                                            height: 100%;
                                                            animation: 1000ms
                                                                    ease 100ms 1
                                                                    normal both
                                                                    running
                                                                    rise-LEFT-6230fa64-24b1-462b-a9b5-bbb2fa088c7b,
                                                                400ms linear 0s
                                                                    1 normal
                                                                    both
                                                                    linear_fade;
                                                        "
                                                    >
                                                        <div
                                                            id="rdWIfFnOoUwlNV39"
                                                            style="
                                                                width: 100%;
                                                                height: 100%;
                                                                opacity: 1;
                                                            "
                                                        >
                                                            <div
                                                                id="DnZBYuDh5WiikLdi"
                                                                style="
                                                                    transform: scale(
                                                                        1,
                                                                        1
                                                                    );
                                                                    width: 100%;
                                                                    height: 100%;
                                                                    overflow: hidden;
                                                                    position: relative;
                                                                "
                                                            >
                                                                <div
                                                                    id="eP8O5MZMmoo2CYnn"
                                                                    style="
                                                                        width: calc(
                                                                            100% *
                                                                                max(
                                                                                    1,
                                                                                    var(
                                                                                        --scale-fill,
                                                                                        1
                                                                                    )
                                                                                )
                                                                        );
                                                                        height: calc(
                                                                            100% /
                                                                                min(
                                                                                    1,
                                                                                    var(
                                                                                        --scale-fill,
                                                                                        1
                                                                                    )
                                                                                )
                                                                        );
                                                                        position: absolute;
                                                                        top: 50%;
                                                                        left: 50%;
                                                                        opacity: 1;
                                                                        animation: auto
                                                                            ease
                                                                            0s 1
                                                                            normal
                                                                            none
                                                                            running
                                                                            none;
                                                                    "
                                                                >
                                                                    <img
                                                                        src="/static/images/08b982474aa14bb27004d09b82bec368.svg"
                                                                        alt="Abstract Halftone Elements"
                                                                        loading="lazy"
                                                                        style="
                                                                            width: 100%;
                                                                            height: 100%;
                                                                            display: block;
                                                                            object-fit: cover;
                                                                            object-position: 50%
                                                                                50%;
                                                                            transform: translate(
                                                                                    -50%,
                                                                                    -50%
                                                                                )
                                                                                rotate(
                                                                                    0deg
                                                                                );
                                                                        "
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        id="QwS9QPBYO5D6rtWX"
                                        style="z-index: 7"
                                    >
                                        <div
                                            id="S04A6FhANAgpmcga"
                                            style="
                                                box-sizing: border-box;
                                                width: 100%;
                                                height: 100%;
                                                transform: rotate(0deg);
                                            "
                                        >
                                            <div
                                                id="J230xtGrcutVes3M"
                                                style="
                                                    opacity: 1;
                                                    display: flex;
                                                    box-sizing: border-box;
                                                    flex-direction: column;
                                                    justify-content: flex-start;
                                                    width: 100%;
                                                    height: 100%;
                                                "
                                            >
                                                <p
                                                    id="ZocOXbyNJ5Vd8Zxc"
                                                    style="
                                                        color: #ffffff;
                                                        font-family: YAFdJmu7CPY-0;
                                                        line-height: 1.17995009em;
                                                        text-align: center;
                                                        text-transform: none;
                                                        letter-spacing: -0.04em;
                                                    "
                                                >
                                                    <span
                                                        id="nOYDO1JIOA5tNyjF"
                                                        style="
                                                            color: #ffffff;
                                                            font-weight: 700;
                                                        "
                                                        >S</span
                                                    ><br />
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="o1ds39WHozlNy8gs" style="z-index: 6">
                                    <div
                                        id="lJ6Pe2ulbnV4R7wi"
                                        style="
                                            box-sizing: border-box;
                                            width: 100%;
                                            height: 100%;
                                        "
                                    >
                                        <div
                                            class="animation_container"
                                            style="width: 100%; height: 100%"
                                        >
                                            <div
                                                class="animated"
                                                style="
                                                    width: 100%;
                                                    height: 100%;
                                                    animation: 1000ms ease 100ms
                                                            1 normal both
                                                            running
                                                            rise-LEFT-2902ff32-4a48-46d1-a1ac-8ea64005c8b7,
                                                        400ms linear 0s 1 normal
                                                            both linear_fade;
                                                "
                                            >
                                                <div
                                                    id="Ln9lDPkxT8yG4Qxc"
                                                    style="
                                                        opacity: 1;
                                                        display: flex;
                                                        box-sizing: border-box;
                                                        flex-direction: column;
                                                        justify-content: flex-start;
                                                        width: 100%;
                                                        height: 100%;
                                                    "
                                                >
                                                    <p
                                                        id="sC0MWczbb8nRuBfJ"
                                                        style="
                                                            color: #ffffff;
                                                            font-family: YAFdJmu7CPY-0;
                                                            line-height: 0.96428399em;
                                                            letter-spacing: 0em;
                                                        "
                                                    >
                                                        <span
                                                            id="yr1vDpZhmaBt1v4t"
                                                            style="
                                                                color: #ffffff;
                                                                font-weight: 700;
                                                            "
                                                            >Stony A​I</span
                                                        ><br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="SNjOuVlqbEMKB2F1">
                            <div
                                id="MBmFjsGyFzrcVV6w"
                                style="display: grid; position: relative"
                            >
                                <div id="zj4Xyzlw21gYVupM" style="z-index: 2">
                                    <div
                                        id="NbxSjzEcEP7F7LuY"
                                        style="
                                            box-sizing: border-box;
                                            width: 100%;
                                            height: 100%;
                                        "
                                    >
                                        <div
                                            class="animation_container"
                                            style="width: 100%; height: 100%"
                                        >
                                            <div
                                                class="animated"
                                                style="
                                                    width: 100%;
                                                    height: 100%;
                                                    animation: 1000ms ease 100ms
                                                            1 normal both
                                                            running
                                                            rise-RIGHT-29dd7cec-0ca0-4e8c-a225-21f222519631,
                                                        400ms linear 0s 1 normal
                                                            both linear_fade;
                                                "
                                            >
                                                <div
                                                    id="DRHIzTOtg8HMtSDg"
                                                    style="
                                                        opacity: 1;
                                                        display: flex;
                                                        box-sizing: border-box;
                                                        flex-direction: column;
                                                        justify-content: flex-start;
                                                        width: 100%;
                                                        height: 100%;
                                                    "
                                                >
                                                    <p
                                                        id="xCy53h2rBJJ0nnYb"
                                                        style="
                                                            color: #ffffff;
                                                            font-family: YAFdJmu7CPY-0;
                                                            line-height: 1.19196375em;
                                                            letter-spacing: -0.04em;
                                                        "
                                                    >
                                                        <span
                                                            id="WdRMcuXBpEfyXVPI"
                                                            style="
                                                                color: #ffffff;
                                                            "
                                                            >welcome to</span
                                                        ><br />
                                                    </p>
                                                    <p
                                                        id="NiBoNBz8RHfX4xt0"
                                                        style="
                                                            color: #ffffff;
                                                            font-family: YAFdJmu7CPY-0;
                                                            line-height: 1.19196375em;
                                                            letter-spacing: -0.04em;
                                                        "
                                                    >
                                                        <span
                                                            id="TOlp5mI6FchDkANx"
                                                            style="
                                                                color: #ffffff;
                                                                font-weight: 700;
                                                            "
                                                            >Stony​ ai</span
                                                        >
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="ctOYHnpUCW1VoUDj" style="z-index: 3">
                                    <div
                                        id="tUufxXn7eclY5Ewu"
                                        style="
                                            box-sizing: border-box;
                                            width: 100%;
                                            height: 100%;
                                        "
                                    >
                                        <div
                                            class="animation_container"
                                            style="width: 100%; height: 100%"
                                        >
                                            <div
                                                class="animated"
                                                style="
                                                    width: 100%;
                                                    height: 100%;
                                                    animation: 1000ms ease 100ms
                                                            1 normal both
                                                            running
                                                            rise-LEFT-8d744193-d20f-4975-8a7c-d0f7a8a26afd,
                                                        400ms linear 0s 1 normal
                                                            both linear_fade;
                                                "
                                            >
                                                <div
                                                    id="TXrerU81PVCgKnZr"
                                                    style="
                                                        opacity: 1;
                                                        display: flex;
                                                        box-sizing: border-box;
                                                        flex-direction: column;
                                                        justify-content: flex-start;
                                                        width: 100%;
                                                        height: 100%;
                                                    "
                                                >
                                                    <p
                                                        id="vYBmigpymei1Mugo"
                                                        style="
                                                            color: #ffffff;
                                                            font-family: YAEnS2G4JLg-0;
                                                            line-height: 1.38461405em;
                                                            letter-spacing: 0em;
                                                        "
                                                    >
                                                        <span
                                                            id="QE5OQRVbZ4gjc5IK"
                                                            style="
                                                                color: #ffffff;
                                                            "
                                                            >Your Ultimate AI
                                                            Prediction
                                                            Platform</span
                                                        ><br />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="NDnv9Y5SOJGsgxmP" style="z-index: 8">
                            <div
                                id="ckb8i2U8DgQwdTM0"
                                style="
                                    box-sizing: border-box;
                                    width: 100%;
                                    height: 100%;
                                    transform: rotate(0deg);
                                "
                            >
                                <div
                                    id="sShfPw0dXtle0Foa"
                                    style="
                                        opacity: 1;
                                        display: flex;
                                        box-sizing: border-box;
                                        flex-direction: column;
                                        justify-content: flex-start;
                                        width: 100%;
                                        height: 100%;
                                    "
                                >
                                    <p
                                        id="btmYSNBA31QxrMPs"
                                        style="
                                            color: #ffffff;
                                            font-family: YACgETiWKS8-0;
                                            line-height: 1.1142665em;
                                            text-align: left;
                                            text-transform: uppercase;
                                            letter-spacing: 0em;
                                        "
                                    >
                                        <span
                                            id="QLxBkkHaaeXiIcsW"
                                            style="
                                                color: #ffffff;
                                                font-weight: 700;
                                            "
                                            >Login</span
                                        ><br />
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="JqjXaMAlPeN1Hkyj" style="z-index: 9">
                            <div
                                id="tbKnIKekqZqrAHPf"
                                style="
                                    box-sizing: border-box;
                                    width: 100%;
                                    height: 100%;
                                    transform: rotate(0deg);
                                "
                            >
                                <div
                                    id="VGICgaXqK8LyGQn4"
                                    style="
                                        opacity: 1;
                                        display: flex;
                                        box-sizing: border-box;
                                        flex-direction: column;
                                        justify-content: flex-start;
                                        width: 100%;
                                        height: 100%;
                                    "
                                >
                                    <p
                                        id="Z9WEk2IDphQApJ1F"
                                        style="
                                            color: #ffffff;
                                            font-family: YACgETiWKS8-0;
                                            line-height: 1.1142665em;
                                            text-align: left;
                                            text-transform: uppercase;
                                            letter-spacing: 0em;
                                        "
                                    >
                                        <span
                                            id="EyfkEgyWmxeWHTf5"
                                            style="
                                                color: #ffffff;
                                                font-weight: 700;
                                            "
                                            >Register</span
                                        ><br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
